* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #333333;
}

body {
  padding: 100px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Helvetica;
}

a {
  color: #FFFFFF;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;

  & + * {
    margin-top: 40px;
  }
}

.accordions {
  background-color: #FFFFFF;
}

.accordion {
  list-style: none;
  color: #333333;

  & + .accordion {
    border-top: 1px solid #CCCCCC;
  }

  &-trigger {
    display: block;
    padding: 30px 60px;
    font-weight: bold;
    background-color: #FFFFFF;
    transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
    color: #333333;
    text-decoration: none;

    &:hover {
      background-color: #CCCCCC;
    }
  }

  &-content {
    height: 0;
    overflow: hidden;
    transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
    line-height: 1.6;

    &-inner {
      padding: 30px 60px;
    }
  }
}